@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@source '../../node_modules/fumadocs-ui/dist/**/*.js';

/* 블록 인용 스타일 제거 */
blockquote {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: none;
}

@media (max-width: 768px) {
    div[style*="display: flex"] {
      flex-direction: column;
      align-items: flex-start;
    }
  }